@import '../css/reset/reset';
@import '../css/scss/contact';
@import '../css/scss/aboutUs';
@import '../css/scss/galerie';
@import '../css/scss/abonnement';

/*NAV BAR*/
body {
    background-color: #201F25;
}

.navbar {
    background-color: #121114;
}

.navbar-toggler-icon {
    background-color: #fe0dea;
    border-radius: 2px;
}

.logo_navbar {
    padding-left: 10px;

}

#linkAct {
    color: #fe0dea;
    font-weight: bold;
    padding-right: 20px;
}

#link1,
#link2,
#link3,
#link4 {
    color: #8f0aaa;
    font-weight: lighter;
    padding-right: 20px;
}

#link2:hover {
    color: #fe0dea;
    font-weight: bold;
}

#link3:hover {
    color: #fe0dea;
    font-weight: bold;
}

#link4:hover {
    color: #fe0dea;
    font-weight: bold;
}

#link1:hover {
    color: #fe0dea;
    font-weight: bold;
}

#linkAct:hover {
    color: #fe0dea;
    font-weight: bold;
}


.icone_reseau {
    float: right;
    display: inline;
    padding: 8px 10px 8px 0px;
}

.btna {
    background-color: #fe0dea;
    color: #fff;
    margin-bottom: 10px;
}

/*Contenaire Article*/

.img {
    height: 100%;
    width: 100%;
}

#contart1,
#contart2,
#contart3,
#contart4,
#contart5,
#contart6,
#contart7,
#contart8,
#contart9 {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #201F25;
    border-bottom: 2px solid #fe0dea;
}

article {
    color: #fe0dea;
}

article ul:nth-child(odd) {
    padding-left: 30px;
}


article p:nth-child(odd) {
    padding-left: 50px;
}

article span {
    padding-bottom: 10px;
    display: block;
}

article h2 {
    color: #fe0dea;
    text-transform: uppercase;
    font-weight: bold;
}

/* Footer*/

footer {
    padding: 15px 0px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Lora', serif;
    color: #d2c3be;
    background-color: #121114;
    text-decoration: none;
}

footer a {

    color: #d2c3be;
    text-decoration: none;
}