/*CSS ABOUTUS*/
#contAboutUs{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #201F25;
    border-bottom: 2px solid #fe0dea;
    }

    #Abouttxt{
        color: #fe0dea;
    }
    #titreAboutUs{
        color: #fe0dea;
        text-transform: uppercase;
        font-weight: bold;
    }