/*CSS Contact*/
#contcontact {
    height: 100%;
    background-color: #121114;
    color: #fe0dea;
    align-content: center;
}


footer {
    color: #d2c3be;
    background-color: #121114;

}

#btnsub,
#btnres {
    background-color: #fe0dea;
    color: white;
}

.comments {
    color: red;
    font-size: 12px;
}