/*CSS Contact*/
#contcontact{
    height: 85vh;
    background-color: #121114;
    color: #fe0dea;
}
.btn{
    background-color: #fe0dea;
    color: white;
}

footer{
    color: #d2c3be;
    background-color: #121114;
    
}
#btnsub, #btnres{
    background-color: #fe0dea;
    color: white;
}

