
/* GALERIE CSS */
#contgalerie{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #201F25;
    border-bottom: 2px solid #fe0dea;
    }

.categorie {
    font-family: 'Lora', serif;
    left: 10%;
    padding-top: 48%;
    font: 21px;
    box-sizing: border-box;
    max-width: 100%;
    color: #fe0dea;
    font-weight: bolder;
    position: absolute;
}

.architext {
    padding-left: 10%;
    top: 88%;
    font-family: 'Lora', serif;
    font: 21px;
    box-sizing: border-box;
    max-width: 100%;
    color: #fe0dea;
    font-weight: bolder;
    position: absolute;
    z-index: 50;
}

/* --- IMG conteneur photo propriété dimension */
#imgcol1 {
    padding-bottom: 15px;
}

#imgcol2 {
    padding-top: 15px;
}

#imgcol3 {
    height: 100%;

}

#imgcol4 {
    padding-bottom: 15px;
}

#imgcol5 {
    padding-top: 15px;
}